{% extends "base.html" %} {% load static %} {% block content %}

<section class="poster">
  <div class="content">
    <h1>Travelling Around</h1>
    <h1>Bangladesh</h1>
    <br />
    <p>
      "Welcome to our website! <br />
      Embark on a journey of exploration and discovery with Guide Me Right. Our
      mission is to inspire and guide avid travelers like you to create
      unforgettable experiences around Bangladesh. Whether you're a seasoned
      globetrotter or a first-time adventurer, our platform is designed to cater
      to your wanderlust.
    </p>
  </div>
</section>

<section class="guide_me">
  <div class="guide_me_intro mt-5 container">
    <h1>Why Choice <span class="text-primary">Guide Me Right</span></h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis omnis ipsum
      sit atque corporis, autem aperiam ratione dicta ipsa saepe, repellendus
      eius, quia quas. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Quidem sint error molestias. Necessitatibus, perspiciatis expedita.
      Assumenda repellendus ipsa delectus deserunt!
    </p>
  </div>

  <div class="options">
    <div class="row">
      <div class="col-md-1 col-sm-0"></div>
      <div class="col_option col-md-3">
        <img
          src="{% static './photos/deverse destination.png' %}"
          class="mx-auto"
          alt=""
        />
        <h3>Diverse Destination</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
          assumenda quidem beatae quia deserunt at ab sed eos vero est.
        </p>
      </div>
      <div class="col_option col-md-3">
        <img src="{% static './photos/value_for_money.png' %}" alt="" />
        <h3>Value For Money</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
          assumenda quidem beatae quia deserunt at ab sed eos vero est.
        </p>
      </div>
      <div class="col_option col-md-3">
        <img src="{% static './photos/best_booking.png' %}" alt="" />
        <h3>Best Booking</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
          assumenda quidem beatae quia deserunt at ab sed eos vero est.
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col_option col-md-3">
        <img
          src="{% static './photos/beautiful_plage.png' %}"
          class="mx-auto"
          alt=""
        />
        <h3>Beautiful Places</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
          assumenda quidem beatae quia deserunt at ab sed eos vero est.
        </p>
      </div>
      <div class="col_option col-md-3">
        <img src="{% static './photos/passonate_travel.png' %}" alt="" />
        <h3>Passonate Travel</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
          assumenda quidem beatae quia deserunt at ab sed eos vero est.
        </p>
      </div>
      <div class="col_option col-md-3">
        <img src="{% static './photos/support_team.png' %}" alt="" />
        <h3>Support Team</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
          assumenda quidem beatae quia deserunt at ab sed eos vero est.
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

<section class="section">
  <div class="sec_3_content container mt-5">
    <div class="bangladesh">
      <img src="{% static './photos/bangladesh.png' %}" alt="" />
    </div>

    <div class="sid">
      <h2>Best Travel Guide website in</h2>
      <h2>Bangladesh</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dum my text ever
        since the 1500s, Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dum
        my text ever since the 1500s
      </p>
    </div>
  </div>
</section>

<section class="blog">
  <div class="blog_post text-center mt-5">
    <button
      onclick="window.location.href='/admin/blog/blog/add/';"
      class="btn-dark"
    >
      Blog Post
    </button>
  </div>

  <div class="mt-5 mx-md-5">
    <div class="row">
      {% for blog in blogs %}

      <div class="col-lg-4 col-md-6">
        <div class="p-2 m-3 separate_colunm">
          <div class="card shadow border rounded p-3 card_info">
            <h3 class="card-title">{{blog.title}}</h3>
            <p>{{blog.description|slice:":200"}}</p>

            {% if blog.imeage %}
            <img
              src="{{blog.imeage.url}}"
              class="d-block mx-auto h-100 w-100"
              alt="card-image"
            />

            {% else %}
            <img
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              class="card-img-top  d-block rouneded-circle mx-auto w-25"
              alt="card-image" 
            />
            {% endif %}
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
